*{
  margin:0;
  padding:0;
}
body{
  font-family: 'sansation light';
}
header{
  background:#6504b5;
  box-shadow: 0 0px 4px #141414;
  position: fixed;
  width: 100%;
  height: 45px;
  display: flex!important;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.header-inner-main-logo > svg {
  display: block;
  width: 100%;
  height: 30px;
  fill: #fff;
}

#pet-form-container{
  padding: 70px 0;
}

.btn {
  background: #6504b5;
  color:#fff;
}

.header.sticky-nav {
    opacity: 0;
    position: fixed;
    top: -200px;
}

.header.sticky-nav--visible {
    opacity: 1;
    top: 0;
}

.header {
  display: block;
  pointer-events: all;
  top: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 9001;
}
